ul {
  list-style-type:none;
  margin:0;
  padding: 0;
}


a {
  text-decoration: none;
  color: black;	
}
.main-container{
  background-color: #DDD5;
  border-radius: 0px 0px 20px 20px;
  box-shadow: 10px 10px 20px #ffc2e4;

}
.main-container :hover{
  box-shadow: 10px 10px 20px #000;

}
.event-item {
  position: relative;
  margin: 20px;
  margin-bottom: 180px;
  float: left;
  width: 320px;
  height: 214px;
}

.event-hook:hover {

	bottom: auto;
}

.event-img {
  width: 100%;
  height: 100%;
  border-radius: 20px;
  box-shadow: 10px 10px 25px #000;
}

.event-hook {
  background-color: #DDD;
  position: absolute;
  padding: 7px;
    text-align: justify;
    top: 175px;
    right: -20px;
    left: 20px;
    bottom: -32px;
  text-decoration: none;
  color: black;	
  box-shadow: 10px 10px 25px #000;
  border-radius: 5px 20px 20px 20px;
  overflow: hidden;
  transition:height 0.5s;
}
.event-title {
  background-color: #DDD;
  position: absolute;
  left: -10px;
  top: -20px;
  right: 20px;
  padding: 1px 7px 1px 7px;
  text-align: center;
  border-radius: 20px;
  text-decoration: none;
  color: black;	
  box-shadow: 5px 5px 10px #000;
}
.form-box{
	background-color: #00000088;
	border-radius:10px;
	display: block;
	max-width:300px;
  	margin: auto;
  	margin-top: 15vh;
  	text-align:center;
}
.form-box form{
	display: flex;
  flex-wrap: wrap;
  align-items: center;
  flex-direction: column;
	
}
.form-box div{
text-align:left;
color:#fff;
background-color: #00000088;
padding:20px;
padding-bottom:5px;
border-radius:10px 10px 0px 0px;
	
}
.form-box input{
	margin-top:15px;
	background-color: #00000088;
	border: none;
}
.form-box button{
	margin:5px;
	background-color: #000000;
	border: none;
	color:#fff;
}